<div class="copyright">

  <p>
  <% if (config.author){ %>
  	      <p>&nbsp;</p>
	      <p>&nbsp;</p>
  	      <p>&nbsp;</p>
  	      <p>&nbsp;</p>
 	      <p>&nbsp;</p>
	      <p>&nbsp;</p>
 	      <p>&nbsp;</p>
	      <p>&nbsp;</p>
	      <p>&nbsp;</p>
<hr size="0" noshade="noshade" color="#cccccc">
<br>
    Copyright   &copy;   <%= new Date().getFullYear() %>   <a href='http://www.mengxiangjia.info'><%= config.author %></a>   <span class='heart'><i class="fa fa-heart" aria-hidden="true"></i></span>   <a href="http://www.mengxiangjia.info">Mengxiangjia.info</a>
  <% } else { %>
    &copy;   <%= new Date().getFullYear() %>   <a href='#top'><%= config.title %></a>    <span class='heart'>❤</span>  <a href='http://www.mengxiangjia.info'>ThinkBlog</a>  All rights reserved.
  <% } %>
  </p>
</div>
<br></br>
<div class="clearfix"></div>