// Color
//color-background = #e6e6e6
color-background = #f6f6f6
//color-font = #444
color-font = #363636
color-meta = #999
color-border = #ddd
color-link = #3d658d

// Font
font-default = Lato,'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif,"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif
font-serif = Lato,"Georgia", serif
font-mono = Lato,Consolas, "Lucida Console", "Courier New", Menlo, Monaco, "Microsoft Yahei", monospace
font-title = Lato,"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif

// Width
page-width = 820px
