#header
  height 45px;
  background #CF4646;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);

  h1
    font-weight normal
    font-size 2em
    line-height 45px
    a
      color #F5F5F5;

  h2
    display none

  @media screen and (max-width: 820px)
    padding 0 1em
    height 45px
    line-height 45px

    h1
      line-height 45px
      text-align left
    
    h2
      display none
      line-height 30px
      text-align center
      font-weight normal
      color #F5F5F5
      font-size 1rem
      a
        color #F5F5F5


#main-nav
  position absolute
  right 0
  top 0
  ul
    list-style none
    li
      float left
      margin-left 15px
      line-height 45px
      a
        color #eee
        &:hover
          color #fff